@charset "UTF-8";

@import "/assets/css/lib/all.css";

:root {
  --primary: #DDE6ED;
  --secondary: #27374D;
  --primaryshade:#f1f4f7;
  --secondaryshade:#c1c8ce;
  --light: #ffffff;
  --dark: #000000;
}

.color-primary{
  color: var(--primary) !important;
}
.color-secondary{
  color: var(--secondary);
}
.color-primaryshade{
  color: var(--primaryshade);
}
.color-secondaryshade{
  color: var(--secondaryshade);
}

h1,h2,h3,h4,h5,h6{
  font-family: "Oswald", sans-serif !important;
}
p{
  font-family: "Titillium Web", sans-serif !important;
  font-weight: 600;
}
.fontStyle-primary{
  font-family: "Oswald", sans-serif !important;
}
.fontStyle-secondary{
  font-family: "Titillium Web", sans-serif !important;
  font-weight: 600 !important;
}
th, td{
  font-family: "Titillium Web", sans-serif !important;
}
.butn {
  background-color: var(--secondary);
  color: var(--primary);
  font-weight: bold;
  border: 1px solid var(--primary);
  padding: 15px 35px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  position: relative;
  text-align: center;
  border-radius: 10px;
}
.butn:hover {
  -webkit-box-shadow: 4px 5px 0 #0005;
  box-shadow: 4px 5px 0 #0005;
  -webkit-box-shadow: 7px 10px 15px #0004;
  box-shadow: 7px 10px 15px #0004;
  background-color: var(--secondaryshade);
  color: var(--secondary);
  border: 1px solid var(--secondary);
}
@media screen and (max-width: 991px) {
  .butn {
    padding: 10px 20px;
  }
  .butn * {
    font-size: 13px !important;
  }
}

input[type=file]::file-selector-button {
  background-color: var(--secondary);
  color: var(--primary) !important;
  font-weight: bold;
  border: 1px solid var(--primary);
  border-radius: 10px;
  padding: 10px 35px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  position: relative;
  text-align: center;
}

input[type=file]::file-selector-button:hover {
  background-color: var(--secondaryshade);
  color: var(--secondary) !important;
  border: 1px solid var(--secondary);
  -webkit-box-shadow: 4px 5px 0 #0005;
  box-shadow: 4px 5px 0 #0005;
  -webkit-box-shadow: 7px 10px 15px #0004;
  box-shadow: 7px 10px 15px #0004;
}

/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}
.spinner {
    margin: 100px auto;
    width: 40px;
    height: 40px;
    position: relative;
    text-align: center;
    -webkit-animation: sk-rotate 2.0s infinite linear;
    animation: sk-rotate 2.0s infinite linear;
  }
a{
    text-decoration: none !important;
}
.MainCommonSection{
  background-color:var(--secondaryshade);
}
.Commonheading{
  font-size: 24px;
}

/* ---------------navbar---------- */
.navbar{
  background-color: var(--primary);
  height: 60px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;}
.navbar .nav-link{
  color: var(--secondary);
}
.navbar .nav-link:hover{
  background-color: var(--secondaryshade);
}
.Usermodal{
  min-width: 250px;
  min-height: 350px;
  max-width: 350px;
  background-color: var(--primary) !important;
  color: var(--secondary) !important;
  text-align: center;
  border-radius: 10px;
}
hr{
  border-top: 1px solid var(--secondaryshade);
}
/*--------------- Main PAge Section------------ */
.HeroSection{
    background-color: var(--secondaryshade);
}
.mainHeroContent{
    height: auto;
}
.mainHeroContent .XEmpbranding{
  background-color: var(--primary);
  color: var(--secondary);
}
.mainHeroContent span{
  color: var(--primary);
  -webkit-text-stroke: 1px var(--secondary);
}
.SubHeroContent{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-color: var(--primaryshade);
}
@media (min-width:999px) {
    .SubHeroContent{
        border-top-left-radius: 40px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 40px;
    }
}
.formCard{
    background-color: var(--light);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;}
.formCard label{
  color: var(--secondary);
}
.formCard input{
  border: 1px solid var(--secondaryshade);
}

/* ----------- footer ------------- */
.footer{
  background-color: var(--primary);
}
.footer img{
  height: 35px;
}
footer a{
  color: var(--secondary);
  padding: 10px 15px;
  border-radius: 7px;
  font-weight: 600;
}
footer a:hover{
  background-color: var(--secondaryshade);
}

/* ------------ login page ---------- */
.login .subcontainer{
  background-color: var(--secondaryshade);
}
.login .subcontainer span{
  color: var(--primary);
  -webkit-text-stroke: 1px var(--secondary);
}
.login .sideimage{
  width: 100%;
  height: auto;
}

/* ----------  Admin page -----------  */
.AdminSection{
  background-color:var(--secondaryshade);
}
.AdminSection .heading{
  font-size: 24px;
}
.AdminSection .box-shadow{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.AdminSection img{
  max-height: 400px;
}
.AdminSection .ourtable{
  height: 400px;
}
.AdminSection thead{
  background-color: var(--secondaryshade);
}
.AdminSection th, td {
  padding: 7px;
  border: 1px solid var(--secondaryshade);
  text-align: center;
}
.AdminSection td{
  background-color: var(--primaryshade);
}
.AdminSection .ourtable th{
  color: var(--secondary);
}
.AdminSection .smallcards tr td{
  background-color: transparent;
  border:none;
  padding: 10px;
  text-align: left;
  color: var(--secondary);
}
@media (max-width:480px) {
  .AdminSection .heading{
    font-size: 16px;
  }
  .AdminSection .ourtable table{
    display: block;
    overflow: scroll;
  }
  .AdminSection th, .AdminSection td{
    font-size: 12px;
    padding: 7px;
  }
}

/* -------------- PO id Page ---------------- */
.POidSection{
  background-color: var(--secondaryshade);
}
.POidSection .heading{
  font-size: 24px;
}
.POidSection tr td{
  color: var(--secondary);
  border:none;
  padding: 7px;
  text-align: left;
}
.tablehead{
  font-weight: bold;
}
.box-shadow{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.POidourtable .ourtable2 th{
  background-color: var(--secondary);
  color: var(--primary);
  border: 1px solid var(--primary);
}
.POidourtable .ourtable2 td{
  background-color: var(--primary);
}
.POidourtable tr th, .POidourtable tr td{
  border:1px solid black;
  padding: 7px;
  text-align: left;
  text-align: center;
}
@media (max-width:480px) {
  .POidourtable .heading{
    font-size: 16px;
  }
  .POidSection .ourtable {
    display: block;
    overflow: scroll;
  }
  .POidSection .ourtable th,  .POidSection .ourtable td{
    font-size: 12px;
    padding: 5px;
  }
  .POidourtable th, .POidourtable td{
    font-size: 12px;
    padding: 7px;
  }
}
/*------------------- BGV Vendor ------------- */
.BGVvendor .ourtable1 td{
  border: none;
  text-align: left;
  color: var(--secondary);
}
.BGVvendor .ourtable2{
  height: 500px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.BGVvendor .ourtable2 th{
  background-color: var(--secondary);
  color: var(--primary);
  border: 1px solid var(--primary);
  padding: 7px;
  text-align: center;
}
.BGVvendor .ourtable2 td{
  background-color: var(--primaryshade);
  color: var(--secondary);
  padding: 7px;
  border: 1px solid var(--secondary);
  text-align: center;
}
@media (max-width:480px) {
  .BGVvendor .ourtable2{
    display: block;
    overflow: scroll;
  }
  .BGVvendor .ourtable2 th, .BGVvendor .ourtable2 td{
    font-size: 12px;
    padding: 5px;
  }
}
.BGVvendor .ourtable2 .actions{
  width: 100px;
}

/* ------------ BVG New Case ------------- */
.BVGNewcase{
  position: relative;
}
.BVGNewcase .formcard{
  padding: 10px;
  background-color: transparent;

}
.BVGNewcase .formcard .tablehead{
  text-align: left;
  font-size: 12px;
  max-width: 100px;
}
@media (min-width:999px)  {
  .BVGNewcase .formcard .tablehead{
    font-size: 16px;
    min-width: 200px;
  }
}
.BVGNewcase .formcard td input{
  text-align: left;
  width: 100%;
  padding: 10px 15px;
  border-radius: 10px;
  border: 1px solid var(--secondary);
  font-size: 14px;
}
.BVGNewcase .formcard td input:focus{
  outline: none;
}
.BVGNewcase .formcard label{
  color: var(--secondary);
  font-family:"Titillium Web", sans-serif ;
  font-weight: bold;
  margin: 0 10px;
}
.BVGNewcase .formcard hr{
  border-top: 1px solid var(--secondary);
}
.BVGNewcase .fileUpload{
  border: none !important;
}
.BVGNewcase .textarea{
  min-width: 70%;
  height: 200px;
  padding: 10px 15px;
  border-radius: 10px;
  border: 1px solid var(--secondary);
  font-size: 14px;
}
.BVGNewcase .textarea:focus{
  outline: none;
}
@media (max-width:480px){
  .BVGNewcase .textarea{
    width: 100%;
    height: 200px;
    padding: 10px 15px;
    border-radius: 10px;
    border: 1px solid var(--secondary);
    font-size: 14px;
  }
}
/*------------------- BGV Vendor ------------- */
.HRAdmin .ourtable1 td{
  border: none;
  text-align: left;
  color: var(--secondary);
}
.HRAdmin .ourtable2{
  height: 500px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.HRAdmin .ourtable2 th{
  background-color: var(--secondary);
  color: var(--primary);
  border: 1px solid var(--primary);
  padding: 7px;
  text-align: center;
}
.HRAdmin .ourtable2 td{
  background-color: var(--primaryshade);
  color: var(--secondary);
  padding: 7px;
  border: 1px solid var(--secondary);
  text-align: center;
}
@media (max-width:480px) {
  .HRAdmin .ourtable2{
    display: block;
    overflow: scroll;
  }
  .HRAdmin .ourtable2 th, .HRAdmin .ourtable2 td{
    font-size: 12px;
    padding: 5px;
  }
}
.HRAdmin .ourtable2 .actions{
  width: 100px;
}

/* ----------- Candidate details ------------- */
.CandidateDetails tr td{
  color: var(--secondary);
  border:none;
  padding: 7px;
  text-align: left;
}
.CandidateDetails .butn{
  background-color: var(--secondary);
  color: var(--primary);
  font-weight: bold;
  border: 1px solid var(--primary);
  margin: 0px 20px;
}
.CandidateDetails .butn:hover{
  background-color: var(--secondaryshade);
  color: var(--secondary);
  border: 1px solid var(--secondary);
}

/* -------------- Payment Link Page  ---------------*/
.paymenttable table{
  margin: 30px auto;
  max-width: 300px;
}

.paymenttable table td{
  background-color: transparent;
  color: var(--secondary);
  border:none;
  padding: 7px;
  text-align: left;
}

/* -----------      Ex Employee Page     ------------- */
.ExEmployeeFormCard td{
  background-color: transparent;
  color: var(--secondary);
  border:none;
  padding: 7px;
  text-align: left;
}
.ExEmployeeFormCard td input{
  text-align: left;
  width: 100%;
  padding: 10px 15px;
  border-radius: 10px;
  border: 1px solid var(--secondary);
  font-size: 14px;
}
.ExEmployeeFormCard td input:focus{
  outline: none;
}
.ExEmployeeFormCard select {
  width: 100%;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url('/assets/img/icons/down.png') no-repeat right center;
  background-position: calc(100% - 20px) center;
  background-size: 12px;
  background-color: var(--primary);
  border-radius: 10px;
  padding: 10px 15px;
}
.ExEmployeeFormCard .textarea{
  min-width: 100%;
  height: 200px;
  padding: 10px 15px;
  border-radius: 10px;
  border: 1px solid var(--secondary);
  font-size: 14px;
}
.ExEmployeeFormCard .textarea:focus{
  outline: none;
}