a{
    text-decoration: none !important;
}
.HeroSection{
    background-color: rgb(157, 183, 223);
}
.mainHeroContent{
    height: auto;
}
.SubHeroContent{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-color: white;
}
.SubHeroContent select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url('/assets/img/icons/down.png') no-repeat right center;
    background-position: calc(100% - 20px) center;
    background-size: 12px;
}
@media (min-width:999px) {
    .SubHeroContent{
        border-top-left-radius: 40px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 40px;
    }
}
.formCard{
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;}
