/* .back-to-top button */
.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
    background-color: var(--secondary);
    border: 1px solid var(--primary);
}
.back-to-top:hover{
    background-color: var(--primary);
    border: 1px solid var(--secondary);
    color: var(--secondary);
}